<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TrendTime - OxenteRails (:</title>
    <style type="text/css" media="screen">
      * {margin:0; padding:0;}
      body {
        background:#000 url("/images/bg-wooddy.jpg") repeat-x left top;
        font:16px/1.4em Arial, sans-serif;
        color:#000;
        text-align:center;
      }
      h2 {
        color: #fff;
        margin-top: 40px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
      }
      #page {
        width:1000px;
        margin:0 auto;
        text-align:left;
      }
      #top {
        background:url("/images/top.jpg") center top no-repeat;
        height:175px;
        padding:50px 140px 0;
      }
      #top h1 {
        margin:0 auto;
        width:171px;
      }
      .tracka, .trackb {
        color:#7d0000;
        float:left;
        font-size:2.3em;
        font-weight:bold;
        line-height:1em;
        position:absolute;
        top:60px;
        text-shadow:0 2px 2px #999999;
        width:35%;
      }
      .trackb {
        float:right;
        right:0;
        text-align:right;
      }
      a, a:visited {
        color: #066999;
      }
      a:hover {
        color: #066999;
      }
      .tweet {
        background: #fff;
        margin: 4px 0;
        width: 400px;
        padding: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
      }
      .tweet img {
        float: left;
        margin: 0 8px 4px 0;
      }
      .tweet .text {
        margin: 0;
      }
      .tweet .time a {
        font-size: 80%;
        color: #888;
        white-space: nowrap;
        text-decoration: none;
      }
      .tweet .time a:hover {
        text-decoration: underline;
      }
      #twitterSearchA .tweet {
        min-height: 24px;
      }
      #twitterSearchA .tweet .text {
        margin-left: 32px;
      }
      }
      #twitterSearchB .tweet {
        min-height: 24px;
      }
      #twitterSearchB .tweet .text {
        margin-left: 32px;
      }
      .twitterTracker {
        float:left;
        padding: 0 25px 0 25px;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1><img src="/images/oxenterails.png" alt="Oxente Rails 2010" /></h1>
        <p class="tracka"><%= params[:tracka] %></p><p class="trackb"><%= params[:trackb] %></p>
      </div>
    <div class="twitterTracker">
      <div id="twitterSearchA" class="tweets"></div>
    </div>
    <div class="twitterTracker">
      <div id="twitterSearchB" class="tweets"></div>
    </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" ></script>
    <script src="/jquery.livetwitter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $('#twitterSearchA').liveTwitter('<%= params[:event]%> <%= params[:tracka]%>', {limit: 10, rate: 5000});
      $('#twitterSearchB').liveTwitter('<%= params[:event]%> <%= params[:trackb]%>', {limit: 10, rate: 5000});
      $('#searchLinks a').each(function(){
        var query = $(this).text();
        $(this).click(function(){
          $('#twitterSearchA').liveTwitter(query);
          $('#twitterSearchB').liveTwitter(query);
          $('#searchTerm').text(query);
          return false;
        });
      });
    </script>
  </body>
</html>